.UserBtm{
  padding: 1rem;
  flex: 0 1 75%;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}
.UserBtm__buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.UserBtm__before, .UserBtm__after{
  width: 10rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: inter-r;
  border-radius: 0.5rem;
  border: 1px solid #b4b4b4;
  background-color: #f3f3f3;
  box-shadow: 0 0 6px 1px rgba(100, 100, 100, 0.5);
}
.UserBtm__before:hover, .UserBtm__after:hover{
  width: 10rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: inter-r;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 1px solid #ff9900;
  background-color: #ffecc4;
  box-shadow: 0 0 6px 2px rgba(255, 123, 0, 0.5);
}