<form class="login" action="/" method="post">
	<fieldset class="login__data">
		<legend class="login__legend">Login</legend>
		<p class="login__p">
			<label for="username" class="login__lbl">Nombre de usuario *</label><br>
			<input required type="text" name="username" id="username"  class="login__ipt" placeholder="Usuario" minlength="4">
		</p>
		<p class="login__p">
			<label for="password" class="login__lbl">Contrase単a *</label><br>
			<input required type="password" name="password" id="password"  class="login__ipt" placeholder="Contrase単a" minlength="6">
		</p>
	</fieldset>
	<div class="login__container-btn">
		<button type="submit" class="btnNar login__btn">Ingresar</button>
	</div>
	<div class="login__container-olvido">
		<p class="login__p"><a href="/" class="login__olvido">多Olvidaste tu usuario o contrase単a?</a></p>
		<p class="login__p"><a href="/register" class="login__registrarse">Registrate</a></p>
	</div>
</form>