<form class="registro" id="registro" action="/" method="post">
	<fieldset class="personales">
		<legend class="personales__legend">Datos Personales</legend>
		<p class="personales__p">
			<label for="nombres" class="personales__lbl">Nombres y Apellidos *</label><br>
			<input required type="text" name="nombres" id="nombres" class="personales__ipt" placeholder="Juan Manuel Fangio" minlength="4">
		</p>
		<p class="personales__p">
			<label for="dni" class="personales__lbl">DNI *</label><br>
			<input required type="text" name="dni" id="dni" class="personales__ipt" placeholder="23555111" minlength="7">
		</p>
		<p class="personales__p">
			<label for="nacimiento" class="personales__lbl">Fecha de Nacimiento *</label><br>
			<input required type="text" name="nacimiento" id="nacimiento" class="personales__ipt" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="24/06/1911">
		</p>
		<p class="personales__p">
			<label for="domicilio" class="personales__lbl">Domicilio *</label><br>
			<input required type="text" name="domicilio" id="domicilio" class="personales__ipt" placeholder="Calle y número" minlength="5">
		</p>
		<p class="personales__p">
			<label for="email" class="personales__lbl">email *</label><br>
			<input required type="email" name="email" id="email" class="personales__ipt" placeholder="email@servidor.com" minlength="4">
		</p>
	</fieldset>
	<fieldset class="usuario">
		<legend class="usuario__legend">Usuario</legend>
		<p class="personales__p">
			<label for="username" class="personales__lbl">Elegí tu nombre de usuario *</label><br>
			<input required type="text" name="username" id="username"  class="personales__ipt" placeholder="Elegí tu nombre de usuario" minlength="4">
		</p>
		<p class="personales__p">
			<label for="password" class="personales__lbl">Elegí tu contraseña *</label><br>
			<input required type="password" name="password" id="password"  class="personales__ipt" placeholder="Elegí tu contraseña" minlength="6">
		</p>
		<div class="registro__btn">
			<button type="submit" class="registro__btnEnviar btnNar">Crea tu Cuenta</button>
			<button type="reset" class="registro__btnBorrar btnNar btnNar--claro" onclick='borraspan()' >Borrar</button>
		</div>
		<div class="registrado">
			<a href="/login" class="registrado__login">¿Ya estas registrado? Ingresá</a><br>
		</div>
	</fieldset>
</form>