.UserTable{
  margin-bottom: 1rem;
  border: 1px solid #b1b1b1;
  border-radius: 1rem;
  box-shadow: 0 0 16px 4px rgba(100, 100, 100, 0.5);
}
.UserTable__table{
  width:100%; 
  border-collapse:collapse;
  border-radius: 1rem;
  overflow: hidden;
  font-family: inter-r;
}
.UserTable__tableHeader th{
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: normal;
  background-color: rgb(190, 190, 190);
}

