<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/svg+xml" href="/assets/svg/logo/logo.svg"> 
  <script src="https://kit.fontawesome.com/d6d168c5ae.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/assets.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VendoMiAuto</title>
</head>
<body>
  <ul>
    <li ><span class="inter-r">inter regular --</span> <span class="inter-b">inter bold</span></li>
    <li ><span class="nunito-r">nunito regular --</span> <span class="nunito-sb">nunito semi bold</span> -- <span class="nunito-b">nunito bold</span></li>
    <li ><span class="rubik-r">rubik regular</span></li>
  </ul>
  
</body>
</html>