<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa</title>

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/formIngresa.css">


</head>

<body>
    <div class="form">   
        <form class="" action="" method="post">
                <div class="container">
                    <div class="usuario individual">
                        <label for="Usuario">Usuario:</label>
                        <input type="text" placeholder="Usuario, email, telefono..." name="usuario" id="usuario">
                    </div>

                    <div class="contraseña individual">
                        <label for="contraseña">Contraseña:</label>
                        <input type="password" placeholder="Contraseña..." name="contraseña" id="contraseña">
                    </div>
                                                                                          
                    <div class="boton__acceder">
                        <button type="submit" class="boton">Acceder</button>
                    </div>

                    <div class="boton__registrate">
                        <button type="submit" class="boton">Registrate</button>
                    </div>

                    <p><a href="·">¿Olvidaste tu contaseña?</a></p>
                </div>

                <div class="individual container signin">
                    <p>Ya estas registrado? </p>
                    <a href="#">Ingresa</a>
                  </div>
        </form>      
    </div>
</body>
</html>