<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/assets/svg/logo/logo.svg"> 
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/assets.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/card.css">
    <title>Prueba</title>
  </head>
<body>
  <article class="card">
    <figure class="card__car">
      <img class="card__imgcar" src="/assets/img/jpg/10.webp" alt="" srcset="">
      <figcaption class="card__titulo"><span>Marca</span><span>año</span><span>km</span></figcaption>
    </figure>
    <div class="card__datacar">Datos del Coche</div>
    <p class="card__precio">u$s 19.500</p>
  </article>
</body>
</html>