<!DOCTYPE html>
<html lang="es">
  <%-include("partials/head.ejs",{'css':['cardItem','adminProducts']})%>
<body>
  <%- include("partials/header",{op:0}) %> <!-- con op:1 incluye fondo auto y nav de categorias -->
  <main class="main">
    <!-- aca va el codigo a probar -->
    <section class="adminproducts">
      <%- include('partials/cardItem',{'auto':{
        "id":2,
        "marca":"Mercedes-Benz",
        "modelo":"Clase-A",
        "condicion":"usado",
        "anio":2021,
        "km":10700,
        "motor":"1.3",
        "combustible":"nafta",
        "transmision":"automática",
        "color":"blanco",
        "puertas":5,
        "airbags":7,
        "categoria":"hatchback",
        "precio":11100000,
        "moneda":"$"
      }}) %>
    </section>
    <!-- aca termina. No olvidar poner los css en el array del include head -->
  </main>
<%- include("partials/footer") %>
</body>
</html>