<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/assets/svg/logo/logo.svg"> 
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/assets.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/formRegistro.css">
    
    <title>Prueba</title>
  </head>
<body>
  <%- include("templates/header",{op:0}) %> <!-- con op:1 incluye fondo auto y nav de categorias -->
  <main class="main">
    <%- include("templates/formRegistro") %>
  </main>
<%- include("templates/footer") %>
</body>
</html>