.card{
  position: relative;
  height: 420px;
  /* max-width: 275px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: black 1px solid; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: transparent 3px solid;
  background-color: var(--grisFc);
  transition: all 0.25s;
}
.card:hover{
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  border: var(--narMe) 3px solid;
  background-color: white;
}
.card__car{
  margin: 0 0 1em;
  padding: 0;
  /* border: violet 1px solid; */
}
.card__imgcar{
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.card__titulo{
  font-family:rubik-r;
  font-size: 1.6em;
  text-align: center;
}
.card__titulo :nth-child(2){
  margin: 0 10px;
  padding: 0 10px;
  border-left: var(--grisT) 1px solid;
  border-right: var(--grisT) 1px solid;
}


.card__precio{
  margin: 0.25em 0 0;
  margin-bottom: 15px;
  font-family: rubik-r;
  font-size: 3.2rem;
  text-align: center;
  /* border: green 1px solid; */
}
.card__datacar p{
  width: 85%;
  margin: 0 auto 0.5em;
  font-family: nunito-r;
  font-weight: normal;
  font-size: 1.4rem;
  text-align-last: justify;
  border-bottom: var(--grisT) 1px solid;
  white-space: nowrap;
}
.card__link{
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  z-index: 10;
}