input:-webkit-autofill
/* input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active */{ 
  transition-property: background-color color;
  transition: 60000s;
}
.login{
  max-width: 300px;
  margin: 0px auto 30px;
  padding: 1.5rem ;
  font-family: inter-r;
  font-weight: normal;
  text-align: center;
  /* border-radius: 0.5rem; */
  box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.20);
  background-image: 
        linear-gradient(180deg, #ff9900 0%, rgba(0, 0, 0, 0.7) 88%, rgba(51, 51, 51, 0) 100%),
        url('https://images.unsplash.com/photo-1592198084033-aade902d1aae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-position: center;
  background-size: cover;
}

.login__data{
  margin-bottom: 1rem;
  padding: 0;
  font-size: 1rem;
  border: none;
  text-align: left;
}
.login__legend{
  font-size: 1.25rem;
}
.login__p{
  margin: 1.5rem 0; 
  color: white;
}
.login__container-olvido .login__p{
  margin-bottom: 0.3rem;
}

.login__lbl{
  font-size: 0.875rem;
}

.login__ipt{
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  border: none;
  border-bottom: var(--grisP) 1px solid;
  background-color: transparent;
  color: white;
  
}

.login__ipt:focus{
  outline: none;
  border-bottom:white 1px solid;
}
.login__ipt::placeholder{
  color: var(--grisP);
}

.login__container-btn{
  margin-top: 3rem;
}

.login__btn{
  padding: 0.5rem 1rem;
}

.login__container-olvido{
  margin-top: 2rem;
  font-size: 0.875rem;
  font-weight: normal;
  text-align: center;
}
.login__container-olvido a{
  text-decoration: none;
  color: var(--grisP);
}
.login__container-olvido a:hover{
  color: white;
}