.main{
  display: flex;
  justify-content: space-between;
}

.search{
  flex: 0 0 73%;
}

.search__resultados{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  flex: 0 0 32%;
  margin: 0;
  margin-bottom: 20px;
}

.search__titulo{
  font-family: inter-r;
  font-size: 1.75rem;
  font-weight: normal;
}

