<article class="cardwide">
  <div class="cardwide__photo">
    <img src= <%= imgcar %> alt="" srcset="">
  </div>
  <div class="cardwide__data">
    <div class="cardwide__top">
      <p class="cardwide__marca"><span>Marca</span><span>a침o</span><span>km</span></p>
      <p class="cardwide__precio">u$s 19.600</p>
    </div>
    <div class="cardwide__spec">
      <div class="cardwide__tec">
        <p class="cardwide__prop">Tipo: <span class="cardwide__value">Sedan</span></p>
        <p class="cardwide__prop">A침o: <span class="cardwide__value">2019</span></p>
        <p class="cardwide__prop">Km: <span class="cardwide__value">34.265</span></p>
        <p class="cardwide__prop">Combustible: <span class="cardwide__value">Nafta</span></p>
      </div>
      <div class="cardwide_tec">
        <p class="cardwide__prop">Color: <span class="cardwide__value">Blanco</span></p>
        <p class="cardwide__prop">Airbags: <span class="cardwide__value">7</span></p>
        <p class="cardwide__prop">Transmisi칩n: <span class="cardwide__value">Autom치tica</span></p>
        <p class="cardwide__prop">Puertas: <span class="cardwide__value">5</span></p>
      </div>
    </div>
    <button class="cardwide__btn">Eliminar</button>
  </div>
</article>