<article class="card">
  <figure class="card__car">
    <img class="card__imgcar" src= <%= imgcar %> alt="" srcset="">
    <figcaption class="card__titulo"><span>Marca</span><span>año</span><span>km</span></figcaption>
  </figure>
  <div class="card__datacar">
    <p>Combustible: Nafta</p>
    <p>Color: Blanco</p>
    <p>Transmisión: Automática</p>
    <p>Puertas: 5</p>
  </div>
  <p class="card__precio">u$s 19.600</p>
</article>