<div class="cardmax">
  <div class="cardmax__top">
    <div class="cardmax__photos">
      <h1 class="cardmax__photos-h2"><span>Volvo</span><span>XC60 2.5 T5</span><span>2019</span><span>Nafta</span><span>3.920 km</span></h1>
      <div class="cardmax__photo"><img  src="/assets/img/jpg/volvo.webp" alt="volvo" srcset=""></div>
      <div class="cardmax__gallery">
        <div class="cardmax__miniphoto"><img src="/assets/img/jpg/v1.webp" alt="" class="cardmax__minimg"></div>
        <div class="cardmax__miniphoto"><img src="/assets/img/jpg/v2.webp" alt="" class="cardmax__minimg"></div>
        <div class="cardmax__miniphoto"><img src="/assets/img/jpg/v3.webp" alt="" class="cardmax__minimg"></div>
        <div class="cardmax__miniphoto"><img src="/assets/img/jpg/v4.webp" alt="" class="cardmax__minimg"></div>
        <div class="cardmax__miniphoto"><img src="/assets/img/jpg/v5.webp" alt="" class="cardmax__minimg"></div>
        <div class="cardmax__miniphoto"><img src="/assets/img/jpg/v6.webp" alt="" class="cardmax__minimg"></div>
      </div>
    </div>
    <div class="cardmax__data">
      <div class="cardmax__precio">
        <span>49.000 u$s</span>
      </div>
      <div class="cardmax__spec">
        <p class="cardmax__prop">Tipo: <span class="cardmax__value">Sedan</span></p>
        <p class="cardmax__prop">Año: <span class="cardmax__value">2019</span></p>
        <p class="cardmax__prop">Km: <span class="cardmax__value">34.265</span></p>
        <p class="cardmax__prop">Combustible: <span class="cardmax__value">Nafta</span></p>
        <p class="cardmax__prop">Color: <span class="cardmax__value">Blanco</span></p>
        <p class="cardmax__prop">Airbags: <span class="cardmax__value">7</span></p>
        <p class="cardmax__prop">Transmisión: <span class="cardmax__value">Automática</span></p>
        <p class="cardmax__prop">Puertas: <span class="cardmax__value">5</span></p>
      </div>
    </div>
  </div>
  <div class="cardmax__bottom">
    <div class="cardmax__obs">
        <h2>Observaciones:</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus id aliquam massa nibh sit eget morbi
           id urna. Vitae nisl ultrices nunc accumsan donec. In natoque aliquam porttitor urna risus sagittis in
            lectus. Sagittis suspendisse eget odio aenean sed. Viverra commodo id vulputate nunc. Commodo nunc,
            velit, auctor venenatis, hendrerit dapibus erat. Gravida et molestie lacus vel lobortis sagittis
            magna hac. Aliquam suscipit dapibus ac egestas sagittis. Nisi, nisl felis ullamcorper enim, arcu
            habitant donec dolor.
        </p>
    </div>
    <div class="cardmax__compra">
        <button class="btnNar">Comprar</button>
        <button class="btnNar btnNar--claro">Preguntar</button>
    </div>
  </div>
</div>