<footer class="footer"> 
  <div class="footer__container">
    <section class="footer__redes">
      <div class="footer-logo">
        <img src="/assets/svg/logo/logo.svg" alt="logo" class="footer-logo__img">
        <p class="footer__titulo">VendoMiAuto</p>
      </div>
      <div class="footer-redes">
        <h3 class="footer-redes__titulo">Seguinos en:</h3>
        <a href="" class="footer-redes__link"><i class="ficon-redes__facebook"></i></a>
        <a href="" class="footer-redes__link"><i class="ficon-redes__instagram"></i></a>
        <a href="" class="footer-redes__link"><i class="ficon-redes__twitter"></i></a>
      </div>
    </section>
    <section class="footer-contacto">
      <h3 class="footer-contacto__titulo">Comunicate con Nosotros</h3>
      <a href="" class="footer-redes__link"><i class="ficon-redes__whatsapp"></i><span class="footer-contacto__texto">+5493519995511</span></a>
      <a href="" class="footer-redes__link"><i class="ficon-redes__email"></i><span class="footer-contacto__texto">info@vendomiauto.com</span></a>    
    </section>
    <section class="footer-firma">
      <p class="footer-firma__copyr">copyrigth <i class="ficon-redes__copyr"></i> 2022</p>
      <p class="footer-firma__sello">
        <span class="footer-firma__grupo">Grupo3</span><span class="footer-firma__dg">Design</span>
      </p>
    </section>
  </div>
</footer>