.TopBar {
  min-height: 17vh;
  padding: 1rem 2rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 100%;
  background-color: var(--nar);
}
.TopBar__logoAdmin, .TopBar__photoAdmin{
  display: flex;
  align-items: center;
}
.TopBar__logo{
  position: relative;
  margin-right: 5rem;
  margin-bottom: -25px;
  width: 15rem;
}
.TopBar__admin{
  margin-right: 2rem;
  font-family: inter-b;
  font-size: 3rem;
  color: #404040;
}
.TopBar__adminName{
  font-family: inter-b;
  font-size: 3rem;
  color: #994500;
  text-transform: uppercase;
  text-align: right;
}
.TopBar__photo{
  position: relative;
  margin-left: 5rem;
  margin-bottom: -20px;
  width: 12rem;
  padding: 0.7rem;
  border-radius: 50%;
  background-color: #994500;
  line-height: 0;
  box-shadow: 0 0 10px 4px rgba(100, 100, 100, 0.5);
}
.TopBar__photoImg{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1;
}