<footer class="footer"> 
  <div class="footer__container">
    <section class="footer__logored">
      <div class="footer__logored-wrap">
        <div class="footer__logo">
          <img src="/assets/svg/logo/logo.svg" alt="logo" class="footer__logo-img">
          VendoMiAuto
        </div>
        <div class="footer__redes">
          <h3 class="footer__redes-titulo">Seguinos en:</h3>
          <a href="" class="footer__redes-link"><i class="ficon-redes__facebook"></i></a>
          <a href="" class="footer__redes-link"><i class="ficon-redes__instagram"></i></a>
          <a href="" class="footer__redes-link"><i class="ficon-redes__twitter"></i></a>
        </div>
      </div>
    </section>
    <section class="footer__contacto">
        <div class="footer__contacto-wrap">
          <h3 class="footer__contacto-titulo">Comunicate con Nosotros</h3>
          <a href="" class="footer__redes-link"><i class="ficon-redes__whatsapp"></i><span class="footer__contacto-texto">+5493519995511</span></a><br>
          <a href="" class="footer__redes-link"><i class="ficon-redes__email"></i><span class="footer__contacto-texto">info@vendomiauto.com</span></a>
        </div>
    </section>
    <section class="footer__firma">
      <div class="footer__firma-wrap">
        <p class="footer__firma-copyr">copyrigth <i class="ficon-redes__copyr"></i> 2022</p>
        <p class="footer__firma-sello">
          <span class="footer__firma-grupo">Grupo3</span><span class="footer__firma-dg">Design</span>
        </p>
      </div>
    </section>
  </div>
</footer>