<form class="login" action="/user/login" method="post">
	<fieldset class="login__data">
		<legend class="login__legend">Login</legend>
		<p class="login__p">
			<label for="email" class="login__lbl">Email de usuario *</label><br>
			<% if(locals.errors['email']?.msg){%><p class="login__hint"><%=locals.errors['email'].msg%></p><%}%>
			<input type="email" name="email" id="email"  class="login__ipt" value="<%=locals.old?.email??""%>">
		</p>
		<p class="login__p">
			<label for="pass" class="login__lbl">Contrase単a *</label><br>
			<% if(locals.errors['pass']?.msg){%><p class="login__hint"><%=locals.errors['pass'].msg%></p><%}%>
			<input type="password" name="pass" id="pass"  class="login__ipt">
		</p>
		<p class="login__p login__p--check">
			<input type="checkbox" name="rememberUser" id="rememberUser"  class="" placeholder="Contrase単a" minlength="6">
			<label for="rememberUser" class="login__lbl">Recordarme</label>
		</p>
	</fieldset>
	<div class="login__container-btn">
		<button type="submit" class="btnNar login__btn">Ingresar</button>
	</div>
	<div class="login__container-olvido">
		<p class="login__p"><a href="/" class="login__olvido">多Olvidaste tu usuario o contrase単a?</a></p>
		<p class="login__p"><a href="/user/register" class="login__registrarse">Registrate</a></p>
	</div>
</form>