<header class="header">
  <div class="header__container">
    <div class="header__top">
      <div class="logo">
        <img src="/assets/svg/logo/logo.svg" alt="logo" class="logo__img">
        VendoMiAuto
      </div>
      <nav class="nav">
          <ul class="nav__menu">
            <li class="nav__item">
              <a href="/" class="nav__link">
                <span class="nav__text">Inicio</span><div class="nav__icfondo"><i class="ficon-home"></i></div>
              </a>
            </li>
          <% if (!locals.userlog) { %>
            <li class="nav__item">
              <a href="/user/register" class="nav__link">
                <span class="nav__text">Registrate</span><div class="nav__icfondo"><i class="ficon-register"></i></div>
              </a>
            </li>
            <li class="nav__item">
              <a href="/user/login" class="nav__link">
                <span class="nav__text">Ingresá</span><div class="nav__icfondo"><i class="ficon-login"></i></div>
              </a>
            </li>
          <% } else { %>
            <li class="nav__item">
              <a href="/user/profile/<%=locals.userlog.id%> " class="nav__link">
                <span class="nav__text">Mi Perfil</span><div class="nav__icUser"><img src="/users/images/<%=locals.userlog.img??"userPlaceholder.png"%> " alt=""></div>
              </a>
            </li>
            <% id=locals.userlog.user_type_id; if (id===2||id===3) { %>
              <li class="nav__item">
                <a href="/products" class="nav__link">
                  <span class="nav__text">Productos</span><div class="nav__icfondo"><i class="ficon-cart"></i></div>
                </a>
              </li>
            <% } %>
            <% if (id===2||id===4) { %>
              <li class="nav__item">
                <a href="/user/admin" class="nav__link">
                  <span class="nav__text">Usuarios</span><div class="nav__icfondo"><i class="ficon-cart"></i></div>
                </a>
              </li>
            <% } %>
            <% if (id===1) { %>
            <li class="nav__item">
              <a href="/carrito/<%= locals?.userlog.id %> " class="nav__link">
                <span class="nav__text">Carrito</span><div class="nav__icfondo"><i class="ficon-cart"></i></div>
              </a>
            </li>
            <% } %>
            <li class="nav__item">
              <a href="/user/logout" class="nav__link">
                <span class="nav__text">Salir</span><div class="nav__icfondo"><i class="ficon-login"></i></div>
              </a>
            </li>
          <% } %>
          </ul>
      </nav>
    </div>
    <form class="searchBar" action="/search" method="get">
        <input class="searchBar__ipt" type="searchBar" placeholder="Buscá tu auto">
        <button class="searchBar__btn" type="submit"><i class="ficon-lupa"></i></button>
    </form>
    <% if (op==1) { %>
      <%- include("headerBottom") %>
    <% } %>
  </div>
</header>