<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/assets/svg/logo/logo.svg"> 
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/assets.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <%(css!==[])?css.forEach(e=>{%>
    <link rel="stylesheet" href="/css/<%=e%>.css">
  <%}):null;%>
  <title>VendoMiAuto</title>
</head>