/* VARIABLES */
:root{
  /* COLORES */
  --narObc:#FF7511;
  --narClc:#FF9900;
  --nar:#FFAA00;
  --narMe:#FFCB6C;
  --narObp:#FFDDA0;
  --narClp:#FFF9F0;
  --negT:#111;
  --negC:#333;
  --grisTo:#3F3F3F;
  --grisT:#6A6A6A;
  --grisP:#B9B9B9;
  --grisFc:#F1F1F1;
  --grisF:#F5F5F5;
  --verde: #3a990e;

  /* BarHCard */
  --barLabel:8rem;
  --barVLabel:2rem;
  --barh1:15%;
  --barh2:20%;
  --barh3:30%;
  --barh4:40%;
  --barh5:50%;
  --barh6:70%;
  --barh7:100%;
  --BarV1:15%;
  --BarV2:20%;
  --BarV3:30%;
  --BarV4:40%;
  --BarV5:50%;
  --BarV6:70%;
  --BarV7:100%;
  --stickA:20%;
  --stickB:80%;
  --stickC:20%;
  --stickD:80%;
}



/* FUENTES */
@font-face {
  font-family: 'rubik-r';
  src: url(/src/assets/fonts/rubik/Rubik-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'inter-b';
  src: url(/src/assets/fonts/inter/Inter-Bold.woff2);
}
@font-face {
  font-family: 'inter-r';
  src: url(/src/assets/fonts/inter/Inter-Regular.woff2);
}
@font-face {
  font-family: 'nunito-b';
  src: url(/src/assets/fonts/nunito/Nunito-Bold.woff2);
}
@font-face {
  font-family: 'nunito-r';
  src: url(/src/assets/fonts/nunito/Nunito-Regular.woff2);
}
@font-face {
  font-family: 'nunito-sb';
  src: url(/src/assets/fonts/nunito/Nunito-SemiBold.woff2);
}
@font-face {
  font-family: 'rIcon';
  src: url(/src/assets/fonts/rIcon/rIcon.woff) format('woff');
}
[class*='rIcon-']:before{
 display: inline-block;
 font-family: 'rIcon';
 font-style: normal;
 font-weight: normal;
 /* font-size: 2.5rem; */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale
}
/* [class*='rIcon-']{
  margin-bottom: -5px;
} */
.rIcon-users:before{content:'\0041';}
.rIcon-cars:before{content:'\0042';}
.rIcon-metric:before{content:'\0043';}
.rIcon-lastUser:before{content:'\0044';}
.rIcon-lastCar:before{content:'\0045';}
.rIcon-user:before{content:'\0046';}
.rIcon-edit:before{content:'\0047';}
.rIcon-delete:before{content:'\0048';}

/* @font-face {
  font-family: 'ficon-redes';
  src: url(/assets/fonts/iconRedes/ficon-redes.woff) format('woff');
}
[class*='ficon-redes__']:before{
 display: inline-block;
 font-family: 'ficon-redes';
 font-style: normal;
 font-weight: normal;
 line-height: 1;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale
}
[class*='ficon-redes__']{
  margin-bottom: -5px;
  vertical-align: middle;
}
.ficon-redes__facebook:before{content:'\0041';}
.ficon-redes__instagram:before{content:'\0042';}
.ficon-redes__twitter:before{content:'\0043';}
.ficon-redes__whatsapp:before{content:'\0044';}
.ficon-redes__email:before{content:'\0045';}
.ficon-redes__copyr:before{content:'\0046';} */

