<!DOCTYPE html>
<html lang="es">
  <%-include("../partials/head.ejs",{'css':['formRegister']})%>
<body>
  <%- include("../partials/header",{op:0}) %> <!-- con op:1 incluye fondo auto y nav de categorias -->
  <main class="main">
    <h2>INGRESASTE UN EMAIL QUE YA ESTA EN USO</h2>
    <a href="/user/register">Ir a registrarme</a>
  </main>
<%- include("../partials/footer") %>
</body>
</html>